* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #141414;
}

.btn {
  height: 45px;
  width: 100%;
  max-width: 200px;
  color: white;
  border: 2px solid rgba(218, 209, 90, 0.75);
  border-radius: 25px;
  background-color: transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);
  transition: all 0.1s ease;
}
.btn:not(:disabled):hover {
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.2);
}

.select-difficulty-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.select-difficulty-screen .difficulty-btn-container {
  width: 100%;
  margin: 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select-difficulty-screen .difficulty-btn-container .difficulty-btn {
  margin-bottom: 5px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.select-difficulty-screen .difficulty-btn-container .difficulty-btn.selected {
  background-color: rgba(215, 64, 235, 0.5);
}
.select-difficulty-screen .start-btn {
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.sudoku-game-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sudoku-game-screen .sudoku-board {
  background-color: transparent;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);
}
.sudoku-game-screen .sudoku-board .board-row {
  display: flex;
}
.sudoku-game-screen .sudoku-board .board-row:not(:nth-child(9)) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.sudoku-game-screen .sudoku-board .board-row:nth-child(3) {
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
.sudoku-game-screen .sudoku-board .board-row:nth-child(6) {
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell {
  height: calc(100vw / 9.5);
  max-height: 50px;
  width: calc(100vw / 9.5);
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 900;
  color: white;
  transition: all 0.3s ease;
}
.sudoku-game-screen .sudoku-board .board-row .board-cell:not(:nth-child(3), :nth-child(6)) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell:nth-child(3) {
  border-right: 3px solid rgba(255, 255, 255, 0.2);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell:nth-child(6) {
  border-right: 3px solid rgba(255, 255, 255, 0.2);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell:not(.locked):not(.done):hover {
  cursor: pointer;
}
.sudoku-game-screen .sudoku-board .board-row .board-cell:not(.locked):not(.done):hover:not(.selected) {
  background-color: rgba(215, 64, 235, 0.2);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell:not(.locked):not(.done):hover:not(.selected).highlight {
  background-color: rgba(215, 64, 235, 0.35);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell.selected {
  background-color: rgba(215, 64, 235, 0.5);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell.locked {
  font-weight: 500;
  color: #919191;
  background-color: rgba(100, 100, 100, 0.1);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell.locked.highlight {
  background-color: rgba(215, 64, 235, 0.1);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell.highlight {
  background-color: rgba(215, 64, 235, 0.2);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell .cell-value.correct {
  color: #5c945a;
}
.sudoku-game-screen .sudoku-board .board-row .board-cell .cell-value.incorrect {
  color: red;
}
.sudoku-game-screen .game-btn-container {
  width: 95.5%;
  max-width: 453px;
  margin-top: 0.75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sudoku-game-screen .game-btn-container .btn {
  width: 45%;
}
.sudoku-game-screen .game-btn-container .quit-btn {
  padding: 0.5rem 1rem;
  border: none;
}
.sudoku-game-screen .game-btn-container .quit-btn:hover {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
}
.sudoku-game-screen .game-btn-container .play-again-btn {
  border: 2px solid #5c945a;
}
.sudoku-game-screen .game-btn-container .try-solution-btn {
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.sudoku-game-screen .game-btn-container .try-solution-btn:disabled {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}

.bottom-container {
  height: 175px;
  width: 95.5%;
  max-width: 453px;
  margin-top: 0.75rem;
  display: flex;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.bottom-container .cell-editor-wrapper {
  height: 100%;
  width: 0;
  transform: translateX(100%);
  transition: all 0.2s ease;
}
.bottom-container .cell-editor-wrapper.open {
  width: 100%;
  transform: translateX(0);
}
.bottom-container .cell-editor-wrapper .cell-editor {
  height: 100%;
  width: 100%;
  padding: 2.5%;
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  grid-template-rows: 1fr 1.25fr 0.75fr;
  gap: 2.5% 5%;
  grid-template-areas: "editor-btn-container cell-value-list" "editor-btn-container cell-value-list" "candidates-row candidates-row";
}
.bottom-container .cell-editor-wrapper .cell-editor .editor-btn-container {
  grid-area: editor-btn-container;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.bottom-container .cell-editor-wrapper .cell-editor .editor-btn-container .close-btn {
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.bottom-container .cell-editor-wrapper .cell-editor .editor-btn-container .reset-btn {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0.5rem 1rem;
  border: none;
}
.bottom-container .cell-editor-wrapper .cell-editor .editor-btn-container .reset-btn:hover {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
}
.bottom-container .cell-editor-wrapper .cell-editor .cell-value-list {
  height: 100%;
  width: 100%;
  display: grid;
  grid-area: cell-value-list;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}
.bottom-container .cell-editor-wrapper .cell-editor .cell-value-list .val-btn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.bottom-container .cell-editor-wrapper .cell-editor .cell-value-list .val-btn.selected {
  background-color: rgba(215, 64, 235, 0.5);
}
.bottom-container .cell-editor-wrapper .cell-editor .cell-value-list .val-btn:not(.selected):hover {
  background-color: rgba(215, 64, 235, 0.2);
}
.bottom-container .cell-editor-wrapper .cell-editor .candidates-row {
  grid-area: candidates-row;
  margin-top: 0.25rem;
  display: flex;
}
.bottom-container .cell-editor-wrapper .cell-editor .candidates-row .candidates-label {
  margin-right: 1rem;
  color: white;
  font-size: 0.8rem;
}
.bottom-container .cell-editor-wrapper .cell-editor .candidates-row .cell-candidates-list {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottom-container .cell-editor-wrapper .cell-editor .candidates-row .cell-candidates-list .candidate-btn {
  height: 100%;
  width: calc(100% / 10.5);
  border-color: rgba(255, 255, 255, 0.2);
}
.bottom-container .cell-editor-wrapper .cell-editor .candidates-row .cell-candidates-list .candidate-btn:not(.selected):hover {
  background-color: rgba(215, 64, 235, 0.2);
}
.bottom-container .cell-editor-wrapper .cell-editor .candidates-row .cell-candidates-list .candidate-btn.selected {
  background-color: rgba(215, 64, 235, 0.5);
}
.bottom-container .info-wrapper {
  height: 100%;
  width: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: all 0.2s ease;
}
.bottom-container .info-wrapper.open {
  width: 100%;
  transform: translateX(0);
}
.bottom-container .info-wrapper .info-screen {
  height: 100%;
  width: 100%;
  min-width: 300px;
  padding: 0.75rem;
  overflow: hidden;
  color: white;
  line-height: 1.5;
}
.bottom-container .info-wrapper .info-screen .info {
  font-size: 0.9rem;
}
.bottom-container .info-wrapper .info-screen .info .info-difficulty {
  text-transform: capitalize;
}
.bottom-container .info-wrapper .result-screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.bottom-container .info-wrapper .result-screen .result-title {
  margin-bottom: 1rem;
  color: #5c945a;
}
.bottom-container .info-wrapper .result-screen .result-info {
  max-width: 85%;
  margin-bottom: 0.25rem;
  text-align: center;
  font-size: 0.9rem;
}/*# sourceMappingURL=App.css.map */