// $bg-color: #221b20;
$bg-color: rgb(20, 20, 20);
$trans-white-darker: rgba(100, 100, 100, 0.1);
$trans-white-dark: rgba(255, 255, 255, 0.25);
$trans-white-medium: rgba(255, 255, 255, 0.5);
$trans-white-light: rgba(218, 209, 90, 0.75);
$selected: hsla(162, 69%, 69%, 0.6);
$highlighted: hsla(162, 69%, 69%, 0.35);
$btn-hover: rgba(100, 100, 100, 0.2);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: $bg-color;
}

.btn {
  height: 45px;
  width: 100%;
  max-width: 200px;

  color: white;

  border: 2px solid $trans-white-light;
  border-radius: 25px;
  background-color: transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);

  transition: all 0.1s ease;

  &:disabled {
    height: 0;
    overflow: hidden;
    color: $trans-white-dark;
    border-color: $trans-white-dark;
  }

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
      background-color: $btn-hover;
    }
  }
}

.select-difficulty-screen {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .difficulty-btn-container {
    width: 100%;
    margin: 1rem 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .difficulty-btn {
      margin-bottom: 5px;

      border: 2px solid $trans-white-dark;

      &.selected {
        background-color: $selected;
      }
    }
  }

  .start-btn {
    border: 2px solid $trans-white-dark;
  }
}

.sudoku-game-screen {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .sudoku-board {
    border-top: 1px solid $trans-white-dark;
    border-left: 1px solid $trans-white-dark;
    margin-bottom: 1rem;

    background-color: transparent;
    border-top: 1px solid $trans-white-dark;
    border-bottom: 1px solid $trans-white-dark;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);

    .board-row {
      display: flex;

      &:not(:nth-child(9)) {
        border-bottom: 1px solid $trans-white-dark;
      }

      &:nth-child(3) {
        border-bottom: 3px solid $trans-white-dark;
      }

      &:nth-child(6) {
        border-bottom: 3px solid $trans-white-dark;
      }

      .board-cell {
        height: calc(100vw / 9.5);
        max-height: 50px;
        width: calc(100vw / 9.5);
        max-width: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;

        user-select: none;

        font-weight: 900;
        color: white;

        &:not(:nth-child(3), :nth-child(6)) {
          border-right: 1px solid $trans-white-dark;
        }

        &:nth-child(3) {
          border-right: 3px solid $trans-white-dark;
        }

        &:nth-child(6) {
          border-right: 3px solid $trans-white-dark;
        }

        transition: all 0.3s ease;

        &:not(.locked) {
          &:not(.done) {
            &:hover {
              cursor: pointer;
              &:not(.selected) {
                background-color: $highlighted;
              }
            }
          }
        }

        &.selected {
          background-color: $selected;
        }

        &.locked {
          font-weight: 500;
          color: rgba(145, 145, 145);
          background-color: $trans-white-darker;
        }

        .cell-value {
          &.correct {
            color: rgb(92, 148, 90);
          }

          &.incorrect {
            color: red;
          }
        }
      }
    }
  }

  .game-btn-container {
    width: 100%;
    max-width: 453px;
    margin-top: 0.75rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .btn {
      margin: 0 1rem;
    }
  }
}

.bottom-container {
  height: 150px;
  width: 95.5%;
  max-width: 453px;

  border: 1px solid $trans-white-dark;

  .cell-editor {
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    .cell-value-list {
      height: 100%;
      width: 100%;
      margin-right: 5%;

      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 0.25rem;

      .val-btn {
        height: 100%;
        width: 100%;

        border: 2px solid $trans-white-dark;
        border-radius: 0;

        &.selected {
          background-color: $selected;
        }
      }
    }

    .cell-candidates-list {
      height: 100%;
      width: 100%;

      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      gap: 0.25rem;

      .candidate-btn {
        height: 75%;
        width: 75%;

        &.selected {
          background-color: rgb(255, 232, 155);
        }
      }
    }

    .editor-btn-container {
      margin-top: 0.5rem;
      display: flex;
      justify-content: center;
    }
  }

  .info-screen {
    height: 100%;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;

    color: white;
    line-height: 1.5;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);

    .info {
      font-size: 0.9rem;

      .info-difficulty {
        text-transform: capitalize;
      }
    }
  }

  .result-screen {
    height: 100%;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);

    .result-title {
      margin-bottom: 0.5rem;
      color: rgb(92, 148, 90);
    }

    .result-info {
      max-width: 85%;
      margin-bottom: 0.25rem;

      text-align: center;
      font-size: 0.9rem;
    }
  }
}
