* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: rgb(70, 115, 172);
}

.btn {
  height: 45px;
  width: 100%;
  max-width: 200px;

  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(245, 245, 245);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);

  transition: all 0.1s ease;

  &:not(:disabled) {
    &:hover {
      cursor: pointer;
      background-color: rgb(230, 230, 230);
    }
  }
}

.select-difficulty-screen {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .difficulty-btn-container {
    width: 100%;
    margin: 1rem 0 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .difficulty-btn {
      margin-bottom: 5px;

      &.selected {
        background-color: rgb(255, 232, 155);
      }
    }
  }
}

.sudoku-game-screen {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .sudoku-board {
    border-left: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 1rem;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);

    .board-row {
      display: flex;

      &:nth-of-type(3n) .board-cell {
        border-bottom: 2px solid black;
      }

      .board-cell {
        height: calc(100vw / 9.5);
        max-height: 50px;
        width: calc(100vw / 9.5);
        max-width: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;

        user-select: none;

        font-weight: 900;

        border: 1px solid black;
        background-color: white;

        transition: all 0.3s ease;

        &:nth-of-type(3n) {
          border-right: 2px solid black;
        }

        &:not(.locked) {
          &:not(.done) {
            &:hover {
              cursor: pointer;
              background-color: rgb(255, 232, 155);
            }
          }
        }

        &.locked {
          font-weight: 500;
          color: rgba(145, 145, 145);

          // background-image: linear-gradient(
          //   -45deg,
          //   rgba(100, 100, 100, 0.1) 12.5%,
          //   transparent 12.5%,
          //   transparent 50%,
          //   rgba(100, 100, 100, 0.1) 50%,
          //   rgba(100, 100, 100, 0.1) 62.5%,
          //   transparent 62.5%,
          //   transparent 100%
          // );
          // background-size: 10px 10px;
          background-color: rgb(237, 237, 237);
        }

        .cell-value {
          &.correct {
            color: rgb(92, 148, 90);
          }

          &.incorrect {
            color: red;
          }
        }
      }
    }
  }

  .game-btn-container {
    width: 100%;
    max-width: 453px;
    display: flex;
    justify-content: space-evenly;

    .btn {
      margin: 0 1rem;
    }
  }
}

.info-screen {
  width: 95.5%;
  max-width: 453px;
  padding: 0.75rem;
  margin-bottom: 1rem;

  line-height: 1.5;
  border: 2px solid black;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);

  .info {
    font-size: 0.9rem;

    .info-difficulty {
      text-transform: capitalize;
    }
  }
}

.result-screen {
  width: 95.5%;
  max-width: 453px;
  padding: 0.75rem;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);

  .result-title {
    margin-bottom: 0.5rem;
    color: rgb(92, 148, 90);
  }

  .result-info {
    max-width: 85%;
    margin-bottom: 0.5rem;

    text-align: center;
    font-size: 0.9rem;
  }
}
