* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  height: 45px;
  width: 100%;
  max-width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);
  transition: all 0.1s ease;
}
.btn:hover {
  cursor: pointer;
  background-color: #e1e1e1;
}

.select-difficulty-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.select-difficulty-screen .difficulty-btn-container {
  width: 100%;
  margin: 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select-difficulty-screen .difficulty-btn-container .difficulty-btn {
  margin-bottom: 5px;
}
.select-difficulty-screen .difficulty-btn-container .difficulty-btn.selected {
  background-color: #82d7ff;
}

.sudoku-game-screen {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sudoku-game-screen .sudoku-board {
  border-left: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);
}
.sudoku-game-screen .sudoku-board .board-row {
  display: flex;
}
.sudoku-game-screen .sudoku-board .board-row:nth-of-type(3n) .board-cell {
  border-bottom: 2px solid black;
}
.sudoku-game-screen .sudoku-board .board-row .board-cell {
  height: calc(100vw / 9.5);
  max-height: 50px;
  width: calc(100vw / 9.5);
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid black;
  transition: all 0.3s ease;
}
.sudoku-game-screen .sudoku-board .board-row .board-cell:hover {
  cursor: pointer;
  background-color: #82d7ff;
}
.sudoku-game-screen .sudoku-board .board-row .board-cell:nth-of-type(3n) {
  border-right: 2px solid black;
}
.sudoku-game-screen .sudoku-board .board-row .board-cell.locked {
  font-size: 1.25rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.075);
}
.sudoku-game-screen .sudoku-board .board-row .board-cell .cell-value.correct {
  color: #68c765;
}
.sudoku-game-screen .sudoku-board .board-row .board-cell .cell-value.incorrect {
  color: red;
}
.sudoku-game-screen .game-btn-container {
  width: 100%;
  max-width: 453px;
  display: flex;
  justify-content: space-evenly;
}
.sudoku-game-screen .game-btn-container .btn {
  margin: 0 1rem;
}

.info-screen {
  width: 95.5%;
  max-width: 453px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  border: 2px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);
}
.info-screen .success-msg {
  text-align: center;
  margin-bottom: 0.3rem;
  color: #68c765;
}
.info-screen .info {
  font-size: 0.9rem;
}/*# sourceMappingURL=App.css.map */